.center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(168, 168, 168);
}
.setup{
    height: 200px;
    width: 450px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}.style{
    height: 200px;
    width: 450px;
    border-radius: 10px;
    border: 2px solid rebeccapurple;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;

}   
.beautify{
    height: 56px;
    width: 266px;
    border-radius: 8px;
    margin-top: 41px;
    
}
h3{
    display: block;
}
button{
    margin-top: -172px;
    margin-left: 480px;
    padding: 15px;
}