<div class="center">
  <div class="align">
    <h2> <i> Text Transalater</i></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 ">
      <textarea [(ngModel)]="getConverterValues" class="setup"></textarea>
      <button (click)="getTextValues()"  class="btn btn-primary" >Convert</button>
    </div>
    <div class="col-sm-4 center">
      <select [(ngModel)]="language" class="beautify">
        <option [value]="lan.langCode" *ngFor="let lan of countryLanList">{{lan.language}}</option>
      </select>
    </div>
    <div class="col-sm-4 style">
     <span> {{convertedLanguageData}}</span>

    </div>



  </div>
</div>